<div ng-controller="header as vm">
    <img src="../../content/images/troop581.jpg" id="watermark-logo" />
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <span class="logo"> Troop 581</span>
            </div>
            <div class="col-xs-4">
                <h3 class="visible-lg-inline-block visible-md-inline-block pull-right text-right scout-law">Trustworthy &bull;&nbsp;Loyal &bull;&nbsp;Helpful &bull;&nbsp;Friendly &bull;&nbsp;Courteous &bull;&nbsp;Kind &bull;&nbsp;Obedient &bull;&nbsp;Cheerful &bull;&nbsp;Thrifty &bull;&nbsp;Brave &bull;&nbsp;Clean &bull;&nbsp;Reverent</h3>
            </div>
        </div>
    </div>
</div>