<div ng-controller="dashboard as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" ng-disabled="vm.processing" class="btn btn-sm btn-wide btn-warning" ng-click="vm.getDashboardLines()"><i class="fa fa-lg fa-fw fa-refresh" ng-class="{'fa-spin': vm.processing}"></i> Refresh<span ng-show="vm.processing">ing...</span></button>
                <span class="small text-muted" ng-show="!!vm.data.dashboard.timestamp">&emsp;Last refreshed: {{vm.data.dashboard.timestamp | date:"MM/dd/yyyy' @ 'h:mm:ss a" | lowercase}}</span>

                <hr />
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>OA Item Status</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-show="vm.data.dashboard.groups.length > 0" class="pull-left">
                            <select ng-model="vm.data.dashboard.statusFilter" ng-change="vm.updateShowOther(vm.data.dashboard.statusFilter)" ng-options="i as (i.label + ' - ' + i.code) for i in vm.data.dashboard.groups | orderBy:'label'" class="form-control input-sm">
                                <option value="">All CMs</option>
                            </select>
                        </div>
                        <table class="linesTable table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>CM</th>
                                    <th class="bg-info">Total OA Lines</th>
                                    <th class="bg-info">Preferred</th>
                                    <th class="bg-info">Not Preferred</th>
                                    <th class="bg-info">Obsolete</th>
                                    <th class="bg-info" ng-show="vm.showOther">TBD</th>
                                    <th class="bg-warning">Preferred & Approved</th>
                                    <th class="bg-warning">Not Approved</th>
                                    <th class="bg-warning">Pending CM</th>
                                    <th class="bg-warning">Pending Site</th>
                                    <th class="bg-warning">Pending TD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="group in vm.data.dashboard.groups | orderBy:'label' | filter:{ code: vm.data.dashboard.statusFilter.code || '' }">
                                    <td><span ng-show="!!group.label"><strong>{{group.label}}</strong> - </span>{{group.code}}</td>
                                    <td><a href="" ng-click="vm.viewStatus(group.all)">{{group.all.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.preferred)">{{group.preferred.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.notPreferred)">{{group.notPreferred.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.obsolete)">{{group.obsolete.length | showDash}}</a></td>
                                    <td ng-show="vm.showOther"><a href="" ng-click="vm.viewStatus(group.other)">{{group.other.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.preferredApproved)">{{group.preferredApproved.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.notApproved)">{{group.notApproved.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.pendingCm)">{{group.pendingCm.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.pendingSite)">{{group.pendingSite.length | showDash}}</a></td>
                                    <td><a href="" ng-click="vm.viewStatus(group.pendingTd)">{{group.pendingTd.length | showDash}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="h4">Forecasted Materials without an active OA Line</span><span class="small checkbox-inline pull-right"><input type="checkbox" ng-click="vm.data.dashboard.forecastDetails = []" ng-model="vm.data.dashboard.showIndividualForecasts"> Show Individual Forecasts</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <span class="h4">
                                        <span ng-hide="vm.data.dashboard.showIndividualForecasts">Forecasts Grouped by OA/Line</span>
                                        <span ng-show="vm.data.dashboard.showIndividualForecasts">Individual Forecasts</span>
                                    </span>
                                    <span class="small checkbox-inline pull-right"><input type="checkbox" ng-model="vm.data.dashboard.showAllForecasts"> Include All Forecasts</span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div ng-show="vm.data.size(vm.data.dashboard.forecasts.cm) > 0" class="pull-left">
                                    <select ng-model="vm.data.dashboard.forecastCm" ng-options="i as (i.label + ' - ' + i.code) for (cm,i) in vm.data.dashboard.forecasts.cm | objToArray | orderBy:'label'" class="form-inline input-sm">
                                        <option value="">All CMs</option>
                                    </select>
                                    <select ng-show="vm.data.dashboard.showIndividualForecasts" ng-model="vm.data.dashboard.forecastSite" ng-options="s.site as s.site for s in vm.data.fixedVal.sites | porgSite:(vm.data.settings.category || 'S044') | orderBy:'site'" class="form-inline input-sm">
                                        <option value="">All Sites</option>
                                    </select>
                                </div>
                                <table class="linesTable table table-striped table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2"></th>
                                            <th class="text-center bg-warning" colspan="2">OA Due Date</th>
                                            <th class="text-center bg-danger" colspan="2">Late to OA Due Date</th>
                                        </tr>
                                        <tr>
                                            <th>CM</th>
                                            <th>
                                                <span ng-show="vm.data.dashboard.showAllForecasts">All Forecasts</span>
                                                <span ng-hide="vm.data.dashboard.showAllForecasts">Needs Attention</span>
                                            </th>
                                            <th class="bg-warning">More than {{vm.data.fixedVal.defaults.daysToDue}} days to Due Date</th>
                                            <th class="bg-warning">{{vm.data.fixedVal.defaults.daysToDue}} days or less to Due Date</th>
                                            <th class="bg-danger">Procure By in Future</th>
                                            <th class="bg-danger">Procure By in Past</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-hide="vm.data.dashboard.showIndividualForecasts" ng-repeat="f in vm.data.dashboard.forecastGroup | objToArray | orderBy:'label' | filter:{ code: vm.data.dashboard.forecastCm.code || '' }">
                                            <td><span ng-show="!!f.label"><strong>{{f.label}}</strong> - </span>{{f.code}}</td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (vm.data.dashboard.showAllForecasts ? f.allSites.all : f.allSites.actionNeeded); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + 'All Sites' + '&ensp;>&ensp;' + (vm.data.dashboard.showAllForecasts ? 'All Forecasts' : 'Needs Attention')">{{vm.data.dashboard.showAllForecasts ? f.allSites.all.length : f.allSites.actionNeeded.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f.allSites.almostDue); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + 'All Sites' + '&ensp;>&ensp;More than ' + vm.data.fixedVal.defaults.daysToDue + ' days to Due Date'">{{f.allSites.almostDue.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f.allSites.due); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + 'All Sites' + '&ensp;>&ensp;' + vm.data.fixedVal.defaults.daysToDue + ' days or less to Due Date'">{{f.allSites.due.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f.allSites.pastDuePndFuture); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + 'All Sites' + '&ensp;>&ensp;Procure By in Future'">{{f.allSites.pastDuePndFuture.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f.allSites.pastDuePndPast); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + 'All Sites' + '&ensp;>&ensp;Procure By in Past'">{{f.allSites.pastDuePndPast.length | showDash}}</a></td>
                                        </tr>
                                        <tr ng-show="vm.data.dashboard.showIndividualForecasts" ng-repeat="f in vm.data.dashboard.forecasts.cm | objToArray | orderBy:'label' | filter:{ code: vm.data.dashboard.forecastCm.code || '' }">
                                            <td><span ng-show="!!f.label"><strong>{{f.label}}</strong> - </span>{{f.code}}</td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (vm.data.dashboard.showAllForecasts ? f[vm.data.dashboard.forecastSite || 'allSites'].all : f[vm.data.dashboard.forecastSite || 'allSites'].actionNeeded); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;' + (vm.data.dashboard.showAllForecasts ? 'All Forecasts' : 'Needs Attention')">{{vm.data.dashboard.showAllForecasts ? f[vm.data.dashboard.forecastSite || 'allSites'].all.length : f[vm.data.dashboard.forecastSite || 'allSites'].actionNeeded.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].almostDue); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;More than ' + vm.data.fixedVal.defaults.daysToDue + ' days to Due Date'">{{f[vm.data.dashboard.forecastSite || 'allSites'].almostDue.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].due); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;' + vm.data.fixedVal.defaults.daysToDue + ' days or less to Due Date'">{{f[vm.data.dashboard.forecastSite || 'allSites'].due.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndFuture); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;Procure By in Future'">{{f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndFuture.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndPast); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;Procure By in Past'">{{f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndPast.length | showDash}}</a></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div ng-show="vm.data.dashboard.forecastDetails" class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>Details<small>&emsp;{{vm.data.dashboard.forecasts.detailDesc}}</small></h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="linesTable table table-striped table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th>CM</th>
                                            <th>Site</th>
                                            <th>MM Number</th>
                                            <th>OA Due Date</th>
                                            <th ng-show="vm.data.dashboard.showIndividualForecasts">Procure By Date</th>
                                            <th ng-hide="vm.data.dashboard.showIndividualForecasts">Earliest Procure By</th>
                                            <th ng-hide="vm.data.dashboard.showIndividualForecasts">Latest Procure By</th>
                                            <th>Qty</th>
                                            <th>OA Line</th>
                                            <th>OA Start Date</th>
                                            <th>OA Exp. Date</th>
                                            <th>OA Exp. Notice</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{success: !f.actionNeeded, warning: f.actionNeeded && !f.overdue, danger: f.actionNeeded && f.overdue}" ng-repeat="f in vm.data.dashboard.forecastDetails | orderBy:['dueDate','pnd']">
                                            <td><span ng-show="!!f.oaLine.PurGroup.Description"><strong>{{f.oaLine.PurGroup.Description}}</strong> - </span>{{f.oaLine.PurGroup.PurGroup}}</td>
                                            <td ng-show="vm.data.dashboard.showIndividualForecasts">{{f.site.site}}</td>
                                            <td ng-hide="vm.data.dashboard.showIndividualForecasts">{{f.siteString}}</td>
                                            <td>{{f.material}}</td>
                                            <td>{{f.dueDate | parseDateString}}<span class="text-muted small">&ensp;<em>{{f.daysToDue}} {{vm.getDays(f.daysToDue)}}</em></span></td>
                                            <td>{{f.pnd | parseDateString}}<span class="text-muted small">&ensp;<em>{{f.daysToPnd}} {{vm.getDays(f.daysToPnd)}}</span></em></td>
                                            <td ng-hide="vm.data.dashboard.showIndividualForecasts">{{f.latestPnd | parseDateString}}<span class="text-muted small">&ensp;<em>{{f.daysToLatestPnd}} {{vm.getDays(f.daysToLatestPnd)}}</span></em></td>
                                            <td>{{f.qty}}</td>
                                            <td><a href="#/oa/{{f.oaLine.Contract}}/{{f.oaLine.ItemNo}}">{{f.oaLine.Contract}} / {{f.oaLine.ItemNo}}</a></td>
                                            <td>{{f.oaStart | parseDateString}}</td>
                                            <td>{{f.oaEnd | parseDateString}}</td>
                                            <td>{{f.oaLine.SIITMRequotingTime || 0}} {{vm.getDays(f.oaLine.SIITMRequotingTime || 0)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--<div class="panel-body" ng-show="vm.data.dashboard.showIndividualForecasts && false">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <span class="h4">Summary</span><span class="small checkbox-inline pull-right"><input type="checkbox" ng-model="vm.data.dashboard.showAllForecasts"> Include All Forecasts</span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div ng-show="vm.data.size(vm.data.dashboard.forecasts) > 0" class="pull-left">
                                    <select ng-model="vm.data.dashboard.forecastCm" ng-options="i.code as (i.label + ' - ' + i.code) for (cm,i) in vm.data.dashboard.forecasts.cm | objToArray | orderBy:'label'" class="form-inline input-sm">
                                        <option value="">All CMs</option>
                                    </select>
                                    <select ng-model="vm.data.dashboard.forecastSite" ng-options="s.site as s.site for s in vm.data.fixedVal.sites | porgSite:(vm.data.settings.category || 'S044') | orderBy:'site'" class="form-inline input-sm">
                                        <option value="">All Sites</option>
                                    </select>
                                </div>
                                <table class="linesTable table table-striped table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2"></th>
                                            <th class="text-center bg-warning" colspan="2">OA Due Date</th>
                                            <th class="text-center bg-danger" colspan="2">Late to OA Due Date</th>
                                        </tr>
                                        <tr>
                                            <th>CM</th>
                                            <th>
                                                <span ng-show="vm.data.dashboard.showAllForecasts">All Forecasts</span>
                                                <span ng-hide="vm.data.dashboard.showAllForecasts">Needs Attention</span>
                                            </th>
                                            <th class="bg-warning">More than 2 days to Due Date</th>
                                            <th class="bg-warning">2 days or less to Due Date</th>
                                            <th class="bg-danger">Procure By in Future</th>
                                            <th class="bg-danger">Procure By in Past</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="f in vm.data.dashboard.forecasts.cm | objToArray | orderBy:'label' | filter:{ code: vm.data.dashboard.forecastCm || '' }">
                                            <td><span ng-show="!!f.label"><strong>{{f.label}}</strong> - </span>{{f.code}}</td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (vm.data.dashboard.showAllForecasts ? f[vm.data.dashboard.forecastSite || 'allSites'].all : f[vm.data.dashboard.forecastSite || 'allSites'].actionNeeded); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;' + (vm.data.dashboard.showAllForecasts ? 'All Forecasts' : 'Needs Attention')">{{vm.data.dashboard.showAllForecasts ? f[vm.data.dashboard.forecastSite || 'allSites'].all.length : f[vm.data.dashboard.forecastSite || 'allSites'].actionNeeded.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].almostDue); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;More than 2 days to Due Date'">{{f[vm.data.dashboard.forecastSite || 'allSites'].almostDue.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].due); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;2 days or less to Due Date'">{{f[vm.data.dashboard.forecastSite || 'allSites'].due.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndFuture); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;Procure By in Future'">{{f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndFuture.length | showDash}}</a></td>
                                            <td><a href="" ng-click="vm.data.dashboard.forecastDetails = (f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndPast); vm.data.dashboard.forecasts.detailDesc = f.label + '&ensp;>&ensp;' + (vm.data.dashboard.forecastSite || 'All Sites') + '&ensp;>&ensp;Procure By in Past'">{{f[vm.data.dashboard.forecastSite || 'allSites'].pastDuePndPast.length | showDash}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="vm.data.dashboard.forecastDetails" class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>Details<small>&emsp;{{vm.data.dashboard.forecasts.detailDesc}}</small></h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="linesTable table table-striped table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th>CM</th>
                                            <th>Site</th>
                                            <th>MM Number</th>
                                            <th>OA Due Date</th>
                                            <th>Procure By</th>
                                            <th>Qty</th>
                                            <th>OA Line</th>
                                            <th>OA Start Date</th>
                                            <th>OA Exp. Date</th>
                                            <th>OA Exp. Notice</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{success: !f.actionNeeded, warning: f.actionNeeded && !f.overdue, danger: f.actionNeeded && f.overdue}" ng-repeat="f in vm.data.dashboard.forecastDetails | orderBy:'dueDate'">
                                            <td><span ng-show="!!f.oaLine.PurGroup.Description"><strong>{{f.oaLine.PurGroup.Description}}</strong> - </span>{{f.oaLine.PurGroup.PurGroup}}</td>
                                            <td>{{f.site.site}}</td>
                                            <td>{{f.material}}</td>
                                            <td>{{f.dueDate | parseDateString}}<span class="text-muted small">&ensp;<em>{{f.daysToDue}} days</em></span></td>
                                            <td>{{f.pnd | parseDateString}}<span class="text-muted small">&ensp;<em>{{f.daysToPnd}} days</span></em></td>
                                            <td>{{f.qty}}</td>
                                            <td><a href="#/oa/{{f.oaLine.Contract}}/{{f.oaLine.ItemNo}}">{{f.oaLine.Contract}} / {{f.oaLine.ItemNo}}</a></td>
                                            <td>{{f.oaStart | parseDateString}}</td>
                                            <td>{{f.oaEnd | parseDateString}}</td>
                                            <td>{{f.oaLine.SIITMRequotingTime || 0}} days</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>BOM Materials without a valid OA Line <small>(Preferred, Approved and Extended to Site)</small></h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-show="vm.data.dashboard.bomNoOa.length > 0" class="pull-left">
                            <select ng-model="vm.data.dashboard.bomSite" ng-change="vm.displayBom(vm.data.dashboard.bomSite)" ng-options="s.site as s.site for s in vm.data.fixedVal.sites | porgSite:(vm.data.settings.category || 'S044') | orderBy:'site'" class="form-control input-sm"></select>
                        </div>
                        <table class="linesTable table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>SL Supplier (Mfg)</th>
                                    <th>SL Model (Mfg)</th>
                                    <th>MM Number</th>
                                    <th>MM Description</th>
                                    <th>MM Subcategory</th>
                                    <th>SL</th>
                                    <th>Count</th>
                                    <th>Has Forecast</th>
                                    <th>Related OA Lines</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.data.dashboard.bomNoOa | orderBy:['SynergySupplier','SynergyModel','value']">
                                    <td>{{item.SynergySupplier}}</td>
                                    <td>{{item.SynergyModel}}</td>
                                    <td>{{item.value}}</td>
                                    <td>{{item.MMDesc}}</td>
                                    <td>{{item.SupItemSubcategoryNm}}</td>
                                    <td>{{item.SynergyLevel}}</td>
                                    <td>{{item.count}}</td>
                                    <td>{{item.hasForecast | toX}}</td>
                                    <td><a href="" ng-click="vm.relatedOas(item.value)"><i class="fa fa-search">&ensp;Search</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-hide="vm.data.dashboard.bomNoOa.length > 0 || !vm.data.dashboard.loaded">
                            <br />
                            <br />
                            <h5>There are no BOM Materials without a valid OA Line for this Site</h5>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.data.dashboard.forecasts.multipleOa.length > 0" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Forecasts with multiple valid OA Lines</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="linesTable table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>MM Number</th>
                                    <th>MM Description</th>
                                    <th>Site</th>
                                    <th>Forecast RDD</th>
                                    <th>OA Lines</th>
                                    <th>OA Line Description</th>
                                    <th>Supplier</th>
                                    <th>Supplier Part Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="f in vm.data.dashboard.forecasts.multipleOa | orderBy:['material','site.site']">
                                    <td>{{f.material}}</td>
                                    <td>{{vm.data.materialIndex[f.material].MMDesc}}</td>
                                    <td>{{f.site.site}}</td>
                                    <td>{{f.rdd | parseDateString}}</td>
                                    <td>
                                        <div ng-repeat="oa in f.oaLines | orderBy:['Contract','ItemNo']"><a href="#/oa/{{oa.Contract}}/{{oa.ItemNo}}">{{oa.Contract}} / {{oa.ItemNo}}</a></div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oa in f.oaLines | orderBy:['Contract','ItemNo']">{{oa.ShortText}}</div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oa in f.oaLines | orderBy:['Contract','ItemNo']">{{oa.VendorName}}</div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oa in f.oaLines | orderBy:['Contract','ItemNo']">{{oa.VendMat}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
