<div ng-controller="flags as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-4">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="close-top">Please help us get to Scout Camp!</h2>
                        <h4>
                            <button class="btn btn-sm btn-primary" ng-click="vm.showBoundaries()">Flag Boundaries</button>
                            Please make sure you live in the boundaries that we cover.
                        </h4>
                        <h3>All of the money collected for this flag subscription goes toward the cost of our Boy Scout summer camp.</h3>
                        <h3>
                            For ${{vm.data.cost}} the Boy Scouts from Troop 581 will come to your home on eight holidays <span class="visible-xs-inline visible-sm-inline"><small>(see dates below)</small></span> to place a flag in your front yard.
                            The flag will be placed at dawn and removed at dusk.
                        </h3>
                        <blockquote>
                            <p>Prior to the first flag holiday, we will come to your home and find a suitable spot in your yard, near the sidewalk, to place a metal sleeve.</p>
                        </blockquote>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <form>
                            <div class="form-group field-label">
                                <label>Name *</label>
                                <input type="text" class="form-control input-sm" ng-model="vm.data.values.name" ng-blur="vm.autosave()">
                            </div>
                            <div class="form-group field-label">
                                <label>Street Address<span ng-show="vm.data.values.subscribe"> *</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" ng-model="vm.data.values.address" ng-blur="vm.autosave()">
                                    <span class="input-group-addon">Gilbert, AZ</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input ng-model="vm.data.values.subscribe" type="checkbox" ng-blur="vm.autosave()"><span class="h4">I would like a flag subscription for Memorial Day {{vm.data.year}} through Presidents' Day {{vm.data.year + 1}}</span>
                                    <span ng-show="!!vm.data.values.subscribe"><small><em>Thank you!!</em></small></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input ng-model="vm.data.values.donate" type="checkbox" ng-blur="vm.autosave()"><span class="h4">I would like to give a<span ng-show="vm.data.values.subscribe">n additional</span> donation.</span>
                                    <span ng-show="!!vm.data.values.donate"><small><em>Thank you!!</em></small></span>
                                </label>
                                <div class="input-group narrow">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control input-sm text-right" ng-model="vm.data.values.donation" ng-blur="vm.autosave()" ng-disabled="!vm.data.values.donate">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            <div class="row" ng-show="vm.data.values.subscribe">
                                <div class="col-xs-9">
                                    {{vm.data.year}} Flag Subscription
                                </div>
                                <div class="col-xs-3 text-right pull-right">
                                    ${{vm.data.cost}}.00
                                </div>
                            </div>
                            <div class="row" ng-show="vm.data.values.donate">
                                <div class="col-xs-9">
                                    Donation <small><em>Thank you!!</em></small>
                                </div>
                                <div class="col-xs-3 text-right pull-right">
                                    {{vm.getDonation() | currency}}
                                </div>
                            </div>
                            <br ng-show="vm.data.values.subscribe || vm.data.values.donate" />
                            <div class="row">
                                <div class="col-xs-9">
                                    <strong>Total</strong>
                                </div>
                                <div class="col-xs-3 text-right pull-right">
                                    <strong>{{vm.getTotal() | currency}}</strong>
                                </div>
                            </div>
                        </div>
                        <form ng-submit="vm.donate($event)" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_donations">
                            <input type="hidden" name="business" value="troop581az@gmail.com">
                            <input type="hidden" name="lc" value="US">
                            <input type="hidden" name="item_name" value="{{vm.data.values.name}}, {{vm.data.values.address}} - {{vm.getDescription()}}">
                            <input type="hidden" name="amount" value="{{vm.getTotal()}}">
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="hidden" name="no_note" value="0">
                            <input type="hidden" name="cn" value="Add any special instructions here:">
                            <input type="hidden" name="no_shipping" value="1">
                            <input type="hidden" name="rm" value="1">
                            <input type="hidden" name="return" value="http://troop581.github.io/#/success">
                            <input type="hidden" name="cancel_return" value="http://troop581.github.io/#/flags">
                            <button type="submit" class="btn btn-lg btn-wide btn-success img-center">
                                <span class="h3">Donate via PayPal</span>
                                <br />
                                <span class="h5">You do not need a PayPal account</span>
                            </button>
                            <div class="text-center"><i class="fa fa-3x fa-cc-paypal"></i> <i class="fa fa-3x fa-cc-amex"></i> <i class="fa fa-3x fa-cc-discover"></i> <i class="fa fa-3x fa-cc-mastercard"></i> <i class="fa fa-3x fa-cc-visa"></i></div>
                        </form>
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>Or pay by check/cash. Please make checks out to BSA Troop 581. Checks can be mailed to 632 E Desert Ln, Gilbert, AZ 85234</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row visible-xs-inline">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="col-md-4 col-md-pull-8">
                <div class="well well-sm holidays">
                    <h3 class="title text-center">Flag Service Dates</h3>
                    <hr />
                    <div class="holiday" ng-repeat="holiday in vm.data.holidays">
                        <h4 class="holiday-text">{{holiday.text}}</h4>
                        <h4 class="holiday-date"><small>{{holiday.date | momentToString:'dddd, MMMM D, YYYY'}}</small></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr class="footer"/>
                <h5>
                    For more information about the flag service,
                    to speak with someone about your flag service,
                    or for more information on joining our troop,
                    please <a href="mailto:troop581az@gmail.com">send us an email</a>.
                </h5>
            </div>
        </div>
    </div>
</div>