<div ng-controller="flags as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-4">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="close-top">Please help us get to Scout Camp!</h2>
                        <h4>
                            <button class="btn btn-sm btn-primary" ng-click="vm.showBoundaries()"><i class="fa fa-fw fa-map-marker"></i> Flag Boundaries</button>
                            Please make sure you live in the boundaries that we cover.
                        </h4>
                        <h3>All of the money collected for this flag subscription goes toward the cost of our Boy Scout summer camp.</h3>
                        <h3>
                            For $40, the Boy Scouts from Troop 581 will come to your home on eight holidays to place a flag in your front yard.
                            The flag will be placed at dawn and removed at dusk.
                        </h3>
                        <blockquote>
                            <p>Prior to the first flag holiday, we will come to your home and find a suitable spot in your yard, near the sidewalk, to place a metal sleeve.</p>
                        </blockquote>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <form>
                            <div class="form-group field-label">
                                <label>Name *</label>
                                <input type="text" class="form-control input-sm" required ng-model="vm.data.name">
                            </div>
                            <div class="form-group field-label">
                                <label>Address *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" required ng-model="vm.data.address">
                                    <span class="input-group-addon">Gilbert, AZ</span>
                                </div>
                            </div>
                            <div class="form-group field-label">
                                <label>Phone Number *</label>
                                <input type="text" class="form-control input-sm" placeholder="ex. 480-555-1234" required ng-model="vm.data.phone">
                            </div>
                            <div class="form-group field-label">
                                <label>Email</label>
                                <input type="text" class="form-control input-sm" ng-model="vm.data.email">
                            </div>
                            <div class="form-group field-label">
                                <label>Any Special Instructions?</label>
                                <textarea maxlength="255" class="form-control input-sm" ng-model="vm.data.instructions"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input ng-model="vm.data.subscribe" type="checkbox"><span class="h4">I would like a flag subscription for Memorial Day 2015 through Presidents' Day 2016</span>
                                <span ng-show="!!vm.data.subscribe"><small><em>Thank you!!</em></small></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input ng-model="vm.data.donate" type="checkbox"><span class="h4">I would like to give a donation.</span>
                                <span ng-show="!!vm.data.donate"><small><em>Thank you!!</em></small></span>
                            </label>
                            <div class="input-group narrow">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control input-sm text-right" ng-model="vm.data.donation" ng-disabled="!vm.data.donate">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="row" ng-show="vm.data.subscribe">
                                <div class="col-xs-9">
                                    2015 Flag Subscription
                                </div>
                                <div class="col-xs-3 text-right pull-right">
                                    $40.00
                                </div>
                            </div>
                            <div class="row" ng-show="vm.data.donate">
                                <div class="col-xs-9">
                                    Donation <small><em>Thank you!!</em></small>
                                </div>
                                <div class="col-xs-3 text-right pull-right">
                                    {{vm.getDonation() | currency}}
                                </div>
                            </div>
                            <br ng-show="vm.data.subscribe || vm.data.donate" />
                            <div class="row">
                                <div class="col-xs-9">
                                    <strong>Total</strong>
                                </div>
                                <div class="col-xs-3 text-right pull-right">
                                    <strong>{{vm.getTotal() | currency}}</strong>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-wide btn-success img-center" ng-click="vm.donate()">Donate via PayPal</button>
                        <div class="text-center"><i class="fa fa-3x fa-cc-paypal"></i> <i class="fa fa-3x fa-cc-amex"></i> <i class="fa fa-3x fa-cc-discover"></i> <i class="fa fa-3x fa-cc-mastercard"></i> <i class="fa fa-3x fa-cc-visa"></i></div>
                        <div>* If you pay by credit card, please consider donating a couple extra dollars to help us cover the credit card charge. Bank transfers through PayPal do not cost us anything.</div>
                    </div>
                </div>
            </div>
            <div class="row visible-xs-inline">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="col-md-4 col-md-pull-8">
                <div class="well well-sm holidays">
                    <h3 class="title text-center">Flag Service Dates</h3>
                    <hr />
                    <div class="holiday" ng-repeat="holiday in vm.holidays">
                        <h4 class="holiday-text">{{holiday.text}}</h4>
                        <h4 class="holiday-date"><small>{{holiday.date | momentToString:'dddd, MMMM D, YYYY'}}</small></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr class="footer"/>
                <h5>
                    For more information about the flag service, to speak with someone about your flag service,
                    or for more information on joining our troop, please contact Jay Larson at <a href="mailto:rjaylarson@q.com">rjaylarson@q.com</a> or (480) 545-7767.
                </h5>
            </div>
        </div>
    </div>
</div>