<div ng-controller="flyer as vm">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-push-4">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="close-top">Please help us get to Scout Camp!</h2>
                        <h3>
                            <a class="btn btn-lg btn-warning" href="http://www.troop581.us"><i class="fa fa-fw fa-hand-o-up"></i> www.Troop581.us</a>&emsp;Sign up and donate online!
                        </h3>
                        <h3>All of the money collected for this flag subscription goes toward the cost of our Boy Scout summer camp.</h3>
                        <h3>
                            For $40, the Boy Scouts from Troop 581 will come to your home on eight holidays to place a flag in your front yard.
                            The flag will be placed at dawn and removed at dusk.
                        </h3>
                        <blockquote>
                            <p>Prior to the first flag holiday, we will come to your home and find a suitable spot in your yard, near the sidewalk, to place a metal sleeve.</p>
                        </blockquote>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-7">
                        <form>
                            <div class="form-group field-label">
                                <label>Name</label>
                                <input type="text" class="form-control input" ng-model="vm.data.values.name" ng-blur="vm.autosave()">
                            </div>
                            <div class="form-group field-label">
                                <label>Street Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input" ng-model="vm.data.values.address" ng-blur="vm.autosave()">
                                    <span class="input-group-addon">Gilbert, AZ</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input ng-model="vm.data.values.subscribe" type="checkbox" ng-blur="vm.autosave()"><span class="h4">I would like a flag subscription for Memorial Day 2015 through Presidents' Day 2016</span>
                                    <span ng-show="!!vm.data.values.subscribe"><small><em>Thank you!!</em></small></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input ng-model="vm.data.values.donate" type="checkbox" ng-blur="vm.autosave()"><span class="h4">I would like to give a<span ng-show="vm.data.values.subscribe">n additional</span> donation.</span>
                                    <span ng-show="!!vm.data.values.donate"><small><em>Thank you!!</em></small></span>
                                </label>
                                <div class="input-group narrow">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control input-sm text-right" ng-model="vm.data.values.donation" ng-blur="vm.autosave()">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-5">
                        <div class="well well-sm text-center">
                            <div class="row">
                                <div class="col-xs-12 h3">
                                    Please make checks payable to
                                </div>
                                <div class="col-xs-12 h3">
                                    <strong>BSA Troop 581</strong>
                                </div>
                                <div class="col-xs-12 h3">
                                    or
                                </div>
                                <div class="col-xs-12 h3">
                                    Sign up and Pay Online at
                                </div>
                                <div class="col-xs-12 h3">
                                    www.Troop581.us
                                </div>
                                <div class="col-xs-12 h3">
                                    <div class="text-center"><i class="fa fa-3x fa-cc-paypal"></i> <i class="fa fa-3x fa-cc-amex"></i> <i class="fa fa-3x fa-cc-discover"></i> <i class="fa fa-3x fa-cc-mastercard"></i> <i class="fa fa-3x fa-cc-visa"></i></div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12 h4">
                                    <em>Thank you for your support!</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-xs-pull-8">
                <div class="well well-sm holidays">
                    <h3 class="title text-center">Flag Service Dates</h3>
                    <hr />
                    <div class="holiday" ng-repeat="holiday in vm.holidays">
                        <h4 class="holiday-text">{{holiday.text}}</h4>
                        <h4 class="holiday-date"><small>{{holiday.date | momentToString:'dddd, MMMM D, YYYY'}}</small></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr class="footer"/>
                <h5>
                    For more information about the flag service,
                    to speak with someone about your flag service,
                    or for more information on joining our troop,
                    please email us at <a href="mailto:email@troop581.us">email@troop581.us</a>.
                </h5>
            </div>
        </div>
    </div>
</div>