<div ng-controller="requirements as vm">
    <div class="container">
        <div ng-if="vm.data.processingRequirements" class="text-center text-primary">
            <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
        </div>
        <br />
        <button class="btn btn-sm btn-primary" ng-if="!vm.data.processingRequirements" ng-click="vm.refresh()">Refresh Requirements</button>
        <br />
        <br />
        <div class="text-center center-block">
            <span ng-repeat="badge in vm.data.meritBadges | objToArray | orderBy:'name'" ng-if="badge.ready" class="badge-wrapper">
                    <img ng-src="{{badge.imgUrl}}" class="clickable img-rounded img-responsive center-block" alt="badge.name" ng-click="vm.showRequirements(badge)" />
                    <a href="" ng-click="vm.showRequirements(badge)"><span ng-class="{bold:badge.required}">{{badge.name}}</span></a>
            </span>
        </div>
    </div>
</div>