<div class="modal-header text-center">
    <span class="h4 modal-title">{{vm.badge.name}}<span class="hidden-xs"> {{vm.badge.type}} Requirements</span></span><button class="btn btn-primary pull-right" ng-click="vm.close()">Close</button>
</div>
<div class="modal-body">
    <img ng-src="{{vm.badge.imgUrl}}" alt="{{vm.badge.name}}" class="pull-right badge-img" />
    <div id="requirements"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.close()">Close</button>
</div>