<div ng-controller="search as vm">
    <div class="container">
        <div class="panel panel-primary search-criteria">
            <div ng-click="vm.toggleSearch()" class="panel-heading sortable">
                <div class="panel-title"><i ng-show="vm.data.search.expanded" class="fa fa-fw fa-chevron-up"></i><i ng-hide="vm.data.search.expanded" class="fa fa-fw fa-chevron-down"></i> <span class="h4">Search</span></div>
            </div>
            <div ng-show="vm.data.search.expanded" class="panel-body">
                <form>
                    <button class="btn btn-wide btn-warning" ng-click="vm.getContractLines()" ng-disabled="vm.data.processing"><i class="fa fa-fw fa-search"></i> Search</button>
                    <button class="btn" ng-click="vm.clearSearch()">Clear</button>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label tooltip="Commodity Manager" tooltip-placement="right">CM</label>
                                        <select ng-model="vm.data.search.cm" ng-options="i as (i.Description+' - '+i.PurGroup) for i in vm.data.purGroup | orderBy:'Description'" class="form-control input-sm">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label>CSI/PSI</label>
                                        <div>
                                            <label class="radio-inline">
                                                <input name="category" ng-model="vm.data.search.category" ng-change="vm.clearSite()" type="radio" value="S044">CSI
                                            </label>&ensp;
                                            <label class="radio-inline">
                                                <input name="category" ng-model="vm.data.search.category" ng-change="vm.clearSite()" type="radio" value="S048">PSI
                                            </label>&ensp;
                                            <label class="radio-inline">
                                                <input name="category" ng-model="vm.data.search.category" type="radio" value="all">All
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Supplier</label>
                                        <textarea class="form-control" rows="4" ng-model="vm.data.search.suppliers" ng-blur="vm.cleanSupplierList()" placeholder="Enter supplier IDs"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>OA Number</label>
                                        <input type="text" maxlength="10" ng-model="vm.data.search.contract" class="form-control input-sm">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Line</label>
                                        <input type="text" maxlength="5" ng-model="vm.data.search.line" class="form-control input-sm">
                                    </div>
                                </div><div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Line Deletion Indicator</label>
                                        <select ng-model="vm.data.search.lineDeletion" class="form-control input-sm">
                                            <option value="">All</option>
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>OA Type</label>
                                        <div>
                                            <label class="radio-inline">
                                                <input name="agreementType" ng-model="vm.data.search.type" type="radio" value="ZCON">Contract
                                            </label>&ensp;
                                            <label class="radio-inline">
                                                <input name="agreementType" ng-model="vm.data.search.type" type="radio" value="ZQUO">Quote
                                            </label>&ensp;
                                            <label class="radio-inline">
                                                <input name="agreementType" ng-model="vm.data.search.type" type="radio" value="both">Both
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label tooltip="Referenced Contract">Contract Number<small>&ensp;(contains)</small></label>
                                        <input type="text" ng-model="vm.data.search.referencedContract" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>OA End Date</label>
                                        <div>
                                            <label class="radio-inline">
                                                <input name="oaEndType" ng-model="vm.data.search.oaEndType" type="radio" value="from"><small>from today</small>
                                            </label>&ensp;
                                            <label class="radio-inline">
                                                <input name="oaEndType" ng-model="vm.data.search.oaEndType" type="radio" value="between"><small>between</small>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div ng-show="vm.data.search.oaEndType === 'between'" class="col-sm-6">
                                                <quick-datepicker disable-timepicker='true' class="form-control input-sm" ng-model='vm.data.search.oaEnd1'></quick-datepicker>
                                                <div class="text-center">and</div>
                                                <quick-datepicker disable-timepicker='true' class="form-control input-sm" ng-model='vm.data.search.oaEnd2'></quick-datepicker>
                                            </div>
                                            <div ng-show="vm.data.search.oaEndType === 'from'" class="col-sm-6">
                                                <p class="input-group">
                                                    <input type="number" step="5" placeholder="30, 60, -60, etc." ng-model="vm.data.search.oaDays" class="form-control input-sm">
                                                    <span class="input-group-addon">days</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="visible-xs visible-sm visible-md" />
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label tooltip="Material Master Number">MM Number</label>
                                        <input type="text" ng-model="vm.data.search.material" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Supplier Part Number<small>&ensp;(contains)</small></label>
                                        <input type="text" ng-model="vm.data.search.supplierPart" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Line Description<small>&ensp;(contains)</small></label>
                                        <input type="text" ng-model="vm.data.search.description" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Site</label>
                                        <select ng-model="vm.data.search.site" ng-options="s.site as s.site for s in vm.data.fixedVal.sites | porgSite:vm.data.search.category | orderBy:'site'" class="form-control input-sm">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Preferred Status</label>
                                        <select ng-model="vm.data.search.preferredStatus" ng-options="s.value as s.text for s in vm.data.fixedVal.preferredStatus" class="form-control input-sm">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Approve Status</label>
                                        <select ng-model="vm.data.search.approveStatus" ng-options="s.value as s.text for s in vm.data.fixedVal.approveStatus" class="form-control input-sm">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label tooltip="Capital Capacity Manager">CCM</label>
                                        <select ng-model="vm.data.search.ccm" ng-options="i as (i.Description+' - '+i.PurGroup) for i in vm.data.purGroup | orderBy:'Description'" class="form-control input-sm">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label tooltip="Manufacturer Name">Manuf. Name<small>&ensp;(contains)</small></label>
                                        <input type="text" ng-model="vm.data.search.manuf" class="form-control input-sm">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label tooltip="Manufacturer Part Number">Manuf. Part<small>&ensp;(contains)</small></label>
                                        <input type="text" ng-model="vm.data.search.manufPart" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label tooltip="Referenced Quote">Linked Quote<small>&ensp;(contains)</small></label>
                                        <input type="text" ng-model="vm.data.search.referencedQuote" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div ng-show="vm.data.contractLines.length > 0" class="panel panel-primary no-body">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="h4">Results</span>
                    <span>
                        &ndash;
                        <span ng-show="vm.data.contractLines.length !== vm.data.filteredResultsLines.length">
                            {{vm.data.filteredResultsLines.length}} of
                        </span>
                        {{vm.data.contractLines.length}}
                    </span>
                    <span ng-show="vm.data.contractLines.length !== vm.data.filteredResultsLines.length">
                        &emsp;
                        <button type="button" class="btn btn-xs" ng-click="vm.clearFilters()">Clear <i class="fa fa-fw fa-filter"></i></button>
                    </span>
                    <span class="checkbox-inline pull-right small" tooltip="Applies to download only. This can take up to a few minutes to run, depending on the number of results." tooltip-placement="bottom">
                        <input type="checkbox" ng-model="vm.includeMm"> Include MM SL/Elec/Subcat
                    </span>
                    <button type="button" class="pull-right btn btn-xs btn-primary spaceRight" ng-click="vm.download()" ng-disabled="vm.data.processing"><i class="fa fa-fw fa-file-excel-o"></i> Download<span ng-show="vm.data.processing">ing...</span></button>
                </div>
            </div>
        </div>
        <table ng-show="vm.data.contractLines.length > 0" class="linesTable table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th ng-click="vm.sort('Contract')"><span class="sortable">OA Number&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('Contract')"></i></a></span></th>
                    <th ng-click="vm.sort('ItemNo')"><span class="sortable">Line&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('ItemNo')"></i></a></span></th>
                    <th ng-click="vm.sort('DocType')"><span class="sortable">OA Type&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('DocType')"></i></a></span></th>
                    <th ng-click="vm.sort('Material')"><span class="sortable">MM Number&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('Material')"></i></a></span></th>
                    <th ng-click="vm.sort('VendorName')"><span class="sortable">Supplier Name&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('VendorName')"></i></a></span></th>
                    <th ng-click="vm.sort('Vendor')"><span class="sortable">Supplier ID&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('Vendor')"></i></a></span></th>
                    <th ng-click="vm.sort('VendMat')"><span class="sortable">Supplier Part Number&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('VendMat')"></i></a></span></th>
                    <th ng-click="vm.sort('ShortText')"><span class="sortable">Line Description&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('ShortText')"></i></a></span></th>
                    <th ng-click="vm.sort('NetPrice')"><span class="sortable">Price&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('NetPrice')"></i></a></span></th>
                    <th ng-click="vm.sort('NetPriceUsd')"><span class="sortable">USD Price&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('NetPriceUsd')"></i></a></span></th>
                    <th ng-click="vm.sort('OrderprUn.uom.value')"><span class="sortable">UOM&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('OrderprUn.uom.value')"></i></a></span></th>
                    <th ng-click="vm.sort('PlanDel')"><span class="sortable">LT&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('PlanDel')"></i></a></span></th>
                    <th ng-click="vm.sort('SiteString')"><span class="sortable">Site&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('SiteString')"></i></a></span></th>
                    <th ng-click="vm.sort('QuoteDIR')"><span class="sortable">Linked Quote&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('QuoteDIR')"></i></a></span></th>
                    <th ng-click="vm.sort('ConditionStart')"><span class="sortable">Line Start Date&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('ConditionStart')"></i></a></span></th>
                    <th ng-click="vm.sort('ConditionEnd')"><span class="sortable">Line End Date&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('ConditionEnd')"></i></a></span></th>
                    <th ng-click="vm.sort('ReferencedContract')"><span class="sortable">Contract Number&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('ReferencedContract')"></i></a></span></th>
                    <th ng-click="vm.sort('VperStart')"><span class="sortable">OA Start Date&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('VperStart')"></i></a></span></th>
                    <th ng-click="vm.sort('VperEnd')"><span class="sortable">OA End Date&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('VperEnd')"></i></a></span></th>
                    <th ng-click="vm.sort('Currency')"><span class="sortable">Currency&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('Currency')"></i></a></span></th>
                    <th ng-click="vm.sort('SIMfrnr')"><span class="sortable">Manuf. Name&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('SIMfrnr')"></i></a></span></th>
                    <th ng-click="vm.sort('SIMfrpn')"><span class="sortable">Manuf. Part&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('SIMfrpn')"></i></a></span></th>
                    <th ng-click="vm.sort('SIActive.text')"><span class="sortable">Preferred Status&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('SIActive.text')"></i></a></span></th>
                    <th ng-click="vm.sort('SIStatus.text')"><span class="sortable">Approve Status&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('SIStatus.text')"></i></a></span></th>
                    <th ng-click="vm.sort('DeleteInd')"><span class="sortable"><i class="fa fa-trash-o"></i>&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('DeleteInd')"></i></a></span></th>
                    <th ng-click="vm.sort('PurchOrg.text')"><span class="sortable">CSI/PSI&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('PurchOrg.text')"></i></a></span></th>
                    <th ng-click="vm.sort('HdrBuyerField.Description')"><span class="sortable">CCM&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('HdrBuyerField.Description')"></i></a></span></th>
                    <th ng-click="vm.sort('PurGroup.Description')"><span class="sortable">CM&nbsp;<a><i class="fa fa-fw" ng-class="vm.getSortClass('PurGroup.Description')"></i></a></span></th>
                </tr>
                <tr>
                    <td><input type="text" ng-model="vm.data.resultsFilter.Contract" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.ItemNo" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.DocType" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.Material" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.VendorName" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.Vendor" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.VendMat" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.ShortText" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.NetPrice" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.NetPriceUsd" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.OrderprUn.uom.value" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.PlanDel" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.SiteString" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.QuoteDIR" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.ConditionStart" placeholder="YYYY/MM/DD" class="form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.ConditionEnd" placeholder="YYYY/MM/DD" class="form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.ReferencedContract" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.VperStart" placeholder="YYYY/MM/DD" class="form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.VperEnd" placeholder="YYYY/MM/DD" class="form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.Currency" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.SIMfrnr" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.SIMfrpn" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.SIActive.text" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.SIStatus.text" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.DeleteInd" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.PurchOrg.text" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.HdrBuyerField" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                    <td><input type="text" ng-model="vm.data.resultsFilter.PurGroup" placeholder="&#xf0b0;" class="icon form-control input-sm"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{warning: record.selected, activeLine: $index === vm.data.activeResultsLine}" ng-click="vm.activateResultsLine($index)" ng-repeat="c in (vm.data.filteredResultsLines = (vm.data.contractLines | orderBy:[vm.data.resultsOrderByField,'Contract','ItemNo']:vm.data.resultsReverseSort | filter:vm.data.resultsFilter)) track by c.Contract+c.ItemNo">
                    <td><a href="#/oa/{{c.Contract}}/{{c.ItemNo}}">{{c.Contract}}</a></td>
                    <td><a href="#/oa/{{c.Contract}}/{{c.ItemNo}}">{{c.ItemNo}}</a></td>
                    <td>{{c.DocType}}</td>
                    <td>{{c.Material}}</td>
                    <td>{{c.VendorName}}</td>
                    <td>{{c.Vendor}}</td>
                    <td>{{c.VendMat}}</td>
                    <td>{{c.ShortText}}</td>
                    <td>{{c.NetPrice | number:2}}<span ng-show="c.ScaleBaseType === 'X'" tooltip="Tier Discount Indicator" tooltip-placement="right"> <i class="fa fa-flip-horizontal fa-fw fa-signal"></i></span></td>
                    <td>${{c.NetPriceUsd | number:2}}</td>
                    <td>{{c.OrderprUn.uom.value}}</td>
                    <td>{{c.PlanDel}}</td>
                    <td>{{c.SiteString}}</td>
                    <td>{{c.QuoteDIR}}</td>
                    <td>{{c.ConditionStart | parseDateString}}</td>
                    <td>{{c.ConditionEnd | parseDateString}}</td>
                    <td>{{c.ReferencedContract}}</td>
                    <td>{{c.VperStart | parseDateString}}</td>
                    <td>{{c.VperEnd | parseDateString}}</td>
                    <td>{{c.Currency}}</td>
                    <td>{{c.SIMfrnr}}</td>
                    <td>{{c.SIMfrpn}}</td>
                    <td>{{c.SIActive.text || c.SIActive.value}}</td>
                    <td>{{c.SIStatus.text || c.SIStatus.value}}</td>
                    <td>{{c.DeleteInd}}</td>
                    <td>{{c.PurchOrg.text}}</td>
                    <td>{{c.HdrBuyerField.Description}}<span ng-show="!!c.HdrBuyerField.Description && !!c.HdrBuyerField.PurGroup"> - </span>{{c.HdrBuyerField.PurGroup}}</td>
                    <td>{{c.PurGroup.Description}}<span ng-show="!!c.PurGroup.Description && !!c.PurGroup.PurGroup"> - </span>{{c.PurGroup.PurGroup}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>