/* --------------------------
 * INTEL NAVBAR DEFAULT
 * --------------------------
*/

/*comment here for testing*/
.navbar-intel {
	background-color: $navbar-intel-bg;
	border-color: $navbar-intel-border;

	.navbar-logo {
		float: left;
		height: 50px;
		padding: 10px 15px;
	}

	.navbar-brand {
		color: $navbar-intel-brand-color;
		&:hover,
		&:focus {
			color: $navbar-intel-brand-hover-color;
			background-color: $navbar-intel-brand-hover-bg;
		}
	}

	.navbar-text {
		color: $navbar-intel-color;
	}

	.navbar-nav {
		> li > a {
			color: $navbar-intel-link-color;

			&:hover,
			&:focus { 
				color: $navbar-intel-link-hover-color;
				background-color: $navbar-intel-link-hover-bg;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: $navbar-intel-link-active-color;
				background-color: $navbar-intel-link-active-bg;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: $navbar-intel-link-disabled-color;
				background-color: $navbar-intel-link-disabled-bg;
			}
		}
	}

	// Darken the responsive nav toggle
	.navbar-toggle {
		border-color: transparent;
		&:hover,
		&:focus {
			background-color: $darkBlue;
		}
		.icon-bar {
			background-color: $navbar-intel-toggle-icon-bar-bg;
		}
	}

	.navbar-collapse,
	.navbar-form {
		border-color: darken($navbar-intel-bg, 7%);
	}

	// Dropdowns
	.navbar-nav {
		> .open > a {
			&,
			&:hover,
			&:focus {
				background-color: $navbar-intel-link-active-bg;
				color: $navbar-intel-link-active-color;
			}
		}

		@media (max-width: $grid-float-breakpoint-max) {
			// Dropdowns get custom display
			.open .dropdown-menu {
				> .dropdown-header {
					border-color: $navbar-intel-border;
				}
				.divider {
					background-color: $navbar-intel-border;
				}
				> li > a {
					color: $navbar-intel-link-color;
					&:hover,
					&:focus {
						color: $navbar-intel-link-hover-color;
						background-color: $navbar-intel-link-hover-bg;
					}
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-intel-link-active-color;
						background-color: $navbar-intel-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-intel-link-disabled-color;
						background-color: $navbar-intel-link-disabled-bg;
					}
				}
			}
		}
	}

	.navbar-link {
		color: $navbar-intel-link-color;
		&:hover {
			color: $navbar-intel-link-hover-color;
		}
	}
}

/* --------------------------
 * INTEL NAVBAR WHITE
 * --------------------------
*/

.navbar-intel-alt {
	background-color: #fff;
	border: 0;
	border-top: 3px solid $blue !important; 
	border-bottom: 1px solid $light-gray !important;

	.kink {
	    height: 20px;
	    overflow: hidden;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 60px;

	    .triangle {
	        $border-width: 20px;
	        border-bottom: $border-width solid transparent;
	        border-top: $border-width solid transparent;
	        border-right: ($border-width*2)*.866 solid $intelBlue;
	        left: 0;
	        letter-spacing: 0;
	        position: absolute;
	        height: 0;
	        top: -20px;
	        width: 0;
	    }

	    .block {
	        background-color: $intelBlue;
	        height: 40px;
	        left: 34px;
	        position: absolute;
	        top: -20px;
	        width: 26px;
	    }
	}

	.navbar-logo {
		float: left;
		height: 50px;
		padding: 8px 15px;
	}

	.navbar-brand {
		color: $text-color;
		&:hover,
		&:focus {
			color: $text-color;
			background-color: transparent;
		}
	}

	.navbar-text {
		color: $text-color;
	}

	.navbar-nav {
		> li > a {
			color: $link-color;

			&:hover,
			&:focus { 
				color: $dark-blue;
				background-color: transparent;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: $dark-gray;
				background-color: $lighter-gray;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: $navbar-intel-link-disabled-color;
				background-color: $navbar-intel-link-disabled-bg;
			}
		}
	}

	/* Darken the responsive nav toggle */
	/*
	.navbar-toggle {
		border-color: transparent;
		&:hover,
		&:focus {
			background-color: $navbar-intel-toggle-hover-bg;
		}
		.icon-bar {
			background-color: $darkGray;
		}
	}
	*/
	.navbar-toggle {
		margin-right: 40px;
		margin-bottom: 4px;			
		border-color: transparent;
		&:hover,
		&:focus {
			background-color: $darkBlue;
			.icon-bar {
				background-color: #fff;
			}				
		}
		.icon-bar {
			width: 4px;
			height: 4px;				
			background-color: $darkBlue;
		}
	}

	.navbar-collapse,
	.navbar-form {
		border-color: darken($navbar-intel-bg, 7%);
	}

	// Dropdowns
	.navbar-nav {
		> .open > a {
			&,
			&:hover,
			&:focus {
				color: $dark-gray;
				background-color: $lighter-gray;
			}
		}

		@media (max-width: $grid-float-breakpoint-max) {
			// Dropdowns get custom display
			.open .dropdown-menu {
				> .dropdown-header {
					border-color: $navbar-intel-border;
				}
				.divider {
					background-color: $navbar-intel-border;
				}
				> li > a {
					color: $navbar-intel-link-color;
					&:hover,
					&:focus {
						color: $navbar-intel-link-hover-color;
						background-color: $navbar-intel-link-hover-bg;
					}
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-intel-link-active-color;
						background-color: $navbar-intel-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-intel-link-disabled-color;
						background-color: $navbar-intel-link-disabled-bg;
					}
				}
			}
		}
	}

	.navbar-link {
		color: $navbar-intel-link-color;
		&:hover {
			color: $navbar-intel-link-hover-color;
		}
	}

}

/* --------------------------
 * INTEL HEADER - NO NAV
 * --------------------------
*/

.header-intel {
	padding-top: 6px; /*padding-top: 4px;*/
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 8px;

	&.navbar {
		border-radius: 0px;
		margin-bottom: 0px;
	}	

	.navbar-brand {
		padding-top: 22px;
		font-size: 20px;
	}

	.navbar-logo {
		height: 65px;
		float: right;
	}

	.navbar-links {
		margin-top: 20px;
		color: $lightBlue;
		font-size: 13px;
		padding-left: 0px;

		li {
			display: block;
			float: left;
			overflow: hidden;
			padding-left: 8px;
			padding-right: 8px;
			padding-bottom: 2px;
		}

		a {
			overflow: hidden;
			padding-top: 5px;
			color: #FFF;
			&:hover {
				text-decoration: underline;
			}			
		}

		i {
			font-size: 18px;
			display: block;
			margin-bottom: 4px;
			margin-right: 3px;
		}

		span {
			padding-top: 5px;
		}

		input {
			width: 100px;
			height: 22px;
			margin-right: 3px;
			padding: 4px;
			float: left;
			border: 0px;
		}		
	}

	#work-week {
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: $lightBlue;
		padding-top: 4px;
	}

	#help {
		padding-top: 4px;
	}

	#search i {
		margin-top: 4px;
	}

	.navbar-toggle {
		border-color: transparent;
	}

	@media (max-width: 767px) {
		height: 50px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;

		.navbar-brand {
			padding-top: 14px;
			padding-left: 0px;
			font-size: 18px;
		}

		.navbar-logo {
			height: 50px;
			float: left;
		}

		.navbar-links {
			display: none;
		}

		.navbar-toggle {
			float: right;
		}
	}

	&.header-intel-white {
		background-color: #fff;
		border-style: solid;
		border-bottom: 1px solid $lightGray;

		.navbar-brand {
			color: $intelBlue;
		}		

		.navbar-links {
			color: $gray;

			a {
				color: $intelBlue;	
			}

			input {
				border-width: 1px;
				border-style: solid;
				border-color: $lightGray;
			}						
		}

		.navbar-toggle {
			border-color: transparent;
			&:hover,
			&:focus {
				background-color: $darkBlue;
				.icon-bar {
					background-color: #fff;
				}				
			}
			.icon-bar {
				background-color: $darkBlue;
			}
		}		

		#work-week {
			border-right-style: solid;
			border-right-width: 1px;
			border-right-color: $lightGray;
		}	
	}

	&.header-kink {
		border-top-width: 10px;
		border-top-style: solid;
		border-top-color: $intelBlue;
		padding: 0px;

		.navbar-brand {
			padding-top: 19px;
			padding-left: 0px;
			font-size: 20px;
		}

		.kink {
		    height: 20px;
		    overflow: hidden;
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 60px;

		    .triangle {
		        $border-width: 20px;
		        border-bottom: $border-width solid transparent;
		        border-top: $border-width solid transparent;
		        border-right: ($border-width*2)*.866 solid $intelBlue;
		        left: 0;
		        letter-spacing: 0;
		        position: absolute;
		        height: 0;
		        top: -20px;
		        width: 0;
		    }

		    .block {
		        background-color: $intelBlue;
		        height: 40px;
		        left: 34px;
		        position: absolute;
		        top: -20px;
		        width: 26px;
		    }
		}		

		.navbar-logo {
			height: 55px;
			float: left;
		}

		.navbar-links {
			margin-right: 30px;
		}

		@media (max-width: 767px) {
			min-height: 60px;

			.navbar-brand {
				padding-top: 14px;
				padding-left: 20px;
				font-size: 18px;
			}

			.navbar-logo {
				display: none;
				height: 50px;
				float: left;
			}
		}

		.navbar-toggle {
			margin-right: 40px;
			margin-bottom: 4px;

			.icon-bar {
				width: 4px;
				height: 4px;
			}
		}	
	}

	&.header-kink-white {
		border-top-color: #fff;

		.kink {

		    .triangle {
		    	$border-width: 20px;
		        border-right: ($border-width*2)*.866 solid #fff;
		    }

		    .block {
		        background-color: #fff;
		    }
		}		
	}
}

/* --------------------------
 * NAVS
 * --------------------------
*/

.nav {
	$nav-link-pad: 25px;

	&.nav-tabs-intel {
		border-bottom: 5px solid $blue;
		padding-left: 10px;
		margin-bottom: 20px;

		li {
			margin-bottom: 0px;

			a {
				border-color: $blue;
				background-color: $blue;
				color: #fff;
				padding-left: $nav-link-pad;
				padding-right: $nav-link-pad;
				margin-right: 6px;
				padding-bottom: 5px;
				margin-top: 5px;

				&:hover {
					background-color: $light-blue; 
					border-color: $light-blue;
				};

				&:active {
					background-color: $light-blue; 
					border-color: $light-blue;
				};

				&:focus {
					background-color: $dark-blue;
					border-color: $dark-blue;
				}
			}

			&.active {
				a {
					border-color: $blue;
					font-weight: bold;
					border-bottom-color: transparent;
					padding-bottom: 10px;
					margin-bottom: -5px;
					margin-top: 5px;

					&:hover {
						border-color: $blue;
						border-bottom-color: transparent;
					}						
				}

				li {
					a {
						font-weight: normal;
					}
				}
			}

			/* open menu on hover functionality */
			&:hover {
				.dropdown-menu-hover {
					display: block;

					li {

						ul {
							display: none;
						}

						&:hover {

							ul {
								display: block;
							}
						}
					}
				}
			}

			/* second, third, etc. level list styles */
			ul {
				padding: 0px;

				li {

					a {
						border-color: transparent;
						background-color: transparent;
						color: $dark-gray;
						margin-right: 0px;
						padding: 5px 20px;
						margin-top: 0px;

						&:hover {
							color: #fff;
						}					
					}

					ul {
						position: absolute;
						right: 0;
					}					
				}
			}
		}
	}

	&.nav-tabs-intel-blocks {
		background-color: $mediumBlue;
		padding-left: 10px;
		margin-bottom: 20px;
		border-bottom-width: 0px;

		li {
			margin-bottom: 0px;

			a {
				border-color: transparent;
				background-color: $mediumBlue;
				border-right: 1px solid $blue;
				color: #fff;
				padding-left: $nav-link-pad;
				padding-right: $nav-link-pad;
				padding-bottom: 9px;
				margin-right: 0px;
				border-radius: 0;

				&:hover {
					background-color: $light-blue;
					border-color: transparent;
					border-right: 1px solid $blue;
				};

				&:active {
					background-color: $light-blue;
					border-color: transparent;
					border-right: 1px solid $blue;
				};

				&:focus {
					background-color: $light-blue;
					border-color: transparent;
					border-right: 1px solid $blue;
				}
			}

			&.active {
				a {
					font-weight: bold;
					border-color: transparent;

					&:hover {
						border-color: transparent;
					}						
				}

				li {
					a {
						font-weight: normal;
					}
				}
			}

			/* open menu on hover functionality */
			&:hover {
				.dropdown-menu-hover {
					display: block;

					li {

						ul {
							display: none;
						}

						&:hover {

							ul {
								display: block;
							}
						}
					}
				}
			}

			/* second, third, etc. level list styles */
			ul {
				padding: 0px;

				li {

					a {
						border-color: transparent;
						background-color: transparent;
						color: $dark-gray;
						margin-right: 0px;
						padding: 5px 20px;
						margin-top: 0px;

						&:hover {
							color: #fff;
						}					
					}

					ul {
						position: absolute;
						right: 0;
					}					
				}
			}
		}
	}

	/*side nav*/
	&.sidenav {
		margin-top: 45px;

		li {
			a{
				padding: 6px 20px;
				font-size: 14px;
				color: $gray;
			}

			&.active {
				a {
					font-weight: bold;
					padding-left: 17px;
					border-left: 3px solid $lightBlue;
					color: $darkGray;
				}
			}
		}
	}
}

/* --------------------------
 * BUTTON OVERRIDES
 * --------------------------
*/

.btn {

	&:active {
		box-shadow: none;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		background-color: $lighter-gray !important;
		border-color: $light-gray !important;
		color: $gray !important;
	    cursor: not-allowed;
	    pointer-events: none; // Future-proof disabling of clicks
	    opacity: .65;
	    box-shadow: none;
	}

	&.btn-default {
		color: $blue;
		background-color: #fff;
		border-color: $light-gray;

		&:hover {
			color: $blue;
			background-color: $lighter-gray;
			border-color: $light-gray;
		}

		&:active {
			background-color: $light-gray;
		}

		&:focus {
			background-color: $light-gray;
		}
	}

	&.btn-default-grey {
		color: $darkGray;
		background-color: #fff;
		border-color: $light-gray;

		&:hover {
			color: $darkGray;
			background-color: $lighter-gray;
			border-color: $light-gray;
		}

		&:active {
			background-color: $light-gray;
		}

		&:focus {
			background-color: $light-gray;
		}
	}	

	&.btn-cancel {
		background-color: $lighter-gray;
		border-color: $light-gray;

		&:hover {
			background-color: $lighter-gray; 
			border-color: $lighter-gray;
		}

		&:active {
			background-color: $light-gray;
			border-color: $gray;
		}
	}

	&.btn-primary {
		background-color: $blue;
		border-color: $blue;

		&:hover {
			background-color: $light-blue; 
			border-color: $light-blue;
		}

		&:active {
			background-color: $dark-blue;
			border-color: $dark-blue;
		}
	}

	&.btn-success {
		background-color: $green;
		border-color: $green;

		&:hover {
			background-color: $hover-green; 
			border-color: $hover-green;
		}

		&:active {
			background-color: $tapped-green;
			border-color: $tapped-green;
		}
	}

	&.btn-danger {
		background-color: $red;
		border-color: $red;

		&:hover {
			background-color: $hover-red; 
			border-color: $hover-red;
		}

		&:active {
			background-color: $darker-red;
			border-color: $darker-red;
		}
	}
}

/** Button group stuff **/

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 10;
}

/* --------------------------
 * INTEL TABLE
 * --------------------------
*/


.table-intel {
	border: 1px solid $table-border-color;
	> thead,
	> tbody,
	> tfoot {
		> tr {
		  	> th,
		  	> td {
		    	border-left: 1px solid $table-border-color;
		  	}	
		}
	}
  	> thead > tr {
    	> th,
    	> td {
      		border-bottom-width: 2px;
    	}
  	}
  	> thead {
  		background-color: $lighter-gray;
  	}

  	tbody > tr {


  		&.success td,
  		&.info td,
  		&.warning td,
  		&.danger td {
			color: #fff;
			font-weight: bold;
  		}
  	}

  	tbody > tr > td {
  		&.active {
  		}

  		&.success,
  		&.info,
  		&.warning,
  		&.danger {
			color: #fff;
			font-weight: bold;
  		}
  	}
}

.table-intel-striped > tbody > tr:nth-child(odd) > td {
	background-color: $gray1;
}



/* --------------------------
 * PAGE & SECTION TITLE HEADERS
 * --------------------------
*/

.intel-header-section {
	@include clearfix();
  	background-color: $lighter-gray;
  	border: 1px solid $light-gray;
  	border-radius: $border-radius-base;
  	display: block;
  	margin-bottom: 10px;
}

.intel-header-section-order,
.intel-header-section-subtitle,
.intel-header-section-title {
	float: left;
}

.intel-header-section-order {
	background-color: #fff;
	border-color: #fff;
	border-radius: 20px;
	color: $dark-gray;
	height: 40px;
	line-height: 40px;
	margin: 5px 15px; 
	width: 40px;
	text-align: center; 
}

.intel-header-section-order.intel-bg-dark {
  	background-color: $lighter-gray;
  	border-color: $lighter-gray;
}

.intel-header-section-title {
    color: $dark-gray;
    font-size: 1.5em;
    line-height: 30px;
    margin: 10px 0;
    padding: 0 15px;
}

.intel-header-section-subtitle {
	border-left: 1px solid $light-gray;
	color: $dark-gray;
	font-size: 1.25em; 
	line-height: 30px;
	margin: 10px 0;
	padding: 0 15px;
}

.intel-header-section.intel-bg-light {
  	background-color: #fff;
}

/*** Left Border (optional) ***/
.intel-header-section.intel-left-border:before {
	background: url('../images/circuit_549x549.png') -10px -338px ;
	content: '';
	height: 100%; 
	left:0;
	position: absolute;
	top:0;
	width: 15px; 
}

/*** Bottom Border ***/
.intel-header-section.intel-border-none {
	border-radius: 0;
  	border-width: 0 0 2px 0;
}

.intel-header-section.intel-border-blue,
.intel-header-section.intel-border-pale-blue,
.intel-header-section.intel-border-green,
.intel-header-section.intel-border-orange,
.intel-header-section.intel-border-yellow {
  	border-bottom-width: 2px;
}

.intel-header-section.intel-border-blue {
  	border-bottom-color: $blue;
}

.intel-header-section.intel-border-pale-blue {
  	border-bottom-color: $paleBlue;
}

.intel-header-section.intel-border-green {
  	border-bottom-color: $green;
}

.intel-header-section.intel-border-orange {
  	border-bottom-color: $orange;
}

.intel-header-section.intel-border-yellow {
  	border-bottom-color: $yellow;
}


/* --------------------------
 * TEXT HELPER OVERRIDES
 * --------------------------
*/

.text-success {
	color: $brand-success !important;
}

.text-warning {
	color: $brand-warning !important;
}

.text-danger {
	color: $brand-danger !important;
}

.text-info {
	color: $brand-info !important;
}


/* --------------------------
 * FORM STATE OVERRIDES
 * --------------------------
*/

.has-success {
  	@include form-control-validation($state-success-bg, $state-success-bg, $state-success-bg);
}
.has-warning {
  	@include form-control-validation($state-warning-bg, $state-warning-bg, $state-warning-bg);
}
.has-error {
  	@include form-control-validation($state-danger-bg, $state-danger-bg, $state-danger-bg);
}


/* -------------------------- 
 * PANEL OVERRIDES 
 * -------------------------- 
*/

.panel-default {
	.panel-heading {
		a {
			text-decoration: none;
		}
		
		i {
			color: $intelBlue;
		}

		&.active {
			background-color: #fff;
		}
	}
}


.panel-body {
	overflow-wrap: break-word;
}


/* -------------------------- 
 * ALERT OVERRIDES 
 * -------------------------- 
*/

.alert {
	border-color: $light-gray;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	.alert-link {
		color: $darkGray !important;
		text-decoration: underline;
	}

	i {
		float: left;
		font-size: 20px;
		margin-right: 7px;
	}

	&.alert-warning {
		border-top: 3px solid $alert-warning-border;

		i {
			color: $brand-warning;
		}
	}

	&.alert-danger {
		border-top: 3px solid $alert-danger-border;

		i {
			color: $brand-danger;
		}
	}

	&.alert-success {
		border-top: 3px solid $alert-success-border;

		i {
			color: $brand-success;
		}
	}	
}

/* -------------------------- 
 * WIZARD
 * -------------------------- 
*/



/* -------------------------- 
 * STICKY NAV OPTS 
 * -------------------------- 
*/

.affix {
	top: 45px;
}